@let isDone = isSelectedDateDone();
@let rDay= isDone ? 'D': remainingTime.days;
@let rHours= isDone ? 'O': remainingTime.hours;
@let rMinutes= isDone ? 'N': remainingTime.minutes;
@let rSeconds= isDone ? 'E': remainingTime.seconds;

<div class="container">
	<div class="clock-input-container">
		<label class="label" for="input-date-time">{{ title }}</label>
		<input
      #inputElement
			type="datetime-local"
			name="input-date-time"
			class="general-input"
			id="input-date-time"
			(input)="onInputChange()"
			(blur)="onBlur()"
			[(ngModel)]="userEnteredDate"
			(ngModelChange)="setClockTimer()"
		/>
	</div>
	<div class="clock-visual-container">
		<div class="clock-column">
			<p class="clock-day clock-timer" [ngClass]="isDone ? 'done' : 'pendant'">{{ rDay }}</p>
			<p class="clock-label" [ngClass]="{'done': (remainingTime.days === 0) || isDone}">Días</p>
		</div>
		
		<div class="clock-column">
			<p class="clock-hours clock-timer" [ngClass]="isDone ? 'done' : 'pendant'">{{ rHours }}</p>
			<p class="clock-label" [ngClass]="{'done': (remainingTime.days === 0 && remainingTime.hours === 0) || isDone}">Horas</p>
		</div>
		
		<div class="clock-column">
			<p class="clock-minutes clock-timer" [ngClass]="isDone ? 'done' : 'pendant'">{{ rMinutes }}</p>
			<p class="clock-label" [ngClass]="{'done': (remainingTime.days === 0 && remainingTime.hours === 0 && remainingTime.minutes === 0) || isDone}">Minutos</p>
		</div>
		
		<div class="clock-column">
			<p class="clock-seconds clock-timer" [ngClass]="isDone ? 'done' : 'pendant'">{{ rSeconds }}</p>
			<p class="clock-label" [ngClass]="{'done': isDone}">Segundos</p>
		</div>
	</div>
</div>

