.demo-table {
  width: 100%;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
  transition: all 0.2s ease;
}

.demo-row-is-clicked {
  font-weight: bold;
}

;

.add-task-row {
  display: flex;
  place-content: center;
  width: 100vw;
  padding: 8px 0;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0 0 24px 24px;
  cursor: pointer;
  transition: all 0.4s ease;

  &:hover {
    background-color: rgba(249, 150, 242, 0.5);
    color: #FFF;
    padding: 12px 0;
    font-weight: bolder;
    font-size: 1.2rem;
  }

  .add-task-icon {
    font-weight: bolder;
  }
}

