<app-days-of-the-week></app-days-of-the-week>

@defer (on immediate ) {
	<app-task-table (_addTask)="toggleAddTaskForm()" (_selectedTask)="onTaskSelected($event)"></app-task-table>
} @loading (minimum 500ms) {
<app-loader></app-loader>
} @error {
<p>Error</p>
}

@if (showAddTaaskForm) {
<app-task-form (_closed)="toggleAddTaskForm()"></app-task-form>
}

<app-input-text [(ngModel)]="prueba" placeholder="colorito"></app-input-text>

<p [style.color]="'red'">{{ prueba }}</p>
@if (selectedTask) {
	<app-task-progress [task]="selectedTask"></app-task-progress>
}
