//BREAKPOINTS
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1920px;

//COLORS
$primary-color: #433878;
$light-primary-color: #7d6baf;
$secondary-color: #221b44;
$accent-color: #F996F2;
$light-accent-color: #F9C8F2;
$dark-accent-color: #F96FF9;
$white: #FFF;
$gray: #CCC;
$light-red: #FFB3B3;
$red: #FF9999;
$dark-red: #FF7F7F;
$accent-red: #FF5F5F;
$green: #9DDE8B;
$light-green: #B3E2A7;
$dark-green: #40A578;
$darker-green: #006769;
$accent-green: #D2FF72;
$orange: #FFAD60;
