* {
  box-sizing: border-box;
  transition: all 0.3s ease;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgba(17, 15, 17, 0.99);
  overflow: hidden;
}

