@import "src/app/assets/styles/_mixins.scss";
@import "src/app/assets/styles/_variables.scss";

.days-wrapper {
  color: white;
  display: flex;
  justify-content: center;
  gap: 2vw;
  margin: 24px;
  overflow-x: scroll;
  scroll-behavior: smooth;
  padding: 20px;
  user-select: none;

  @include below($md) {
    min-height: 100px;
  }

  @include above($md) {
    min-height: 200px;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  .day {
    position: relative;
    display: flex;
    width: 160px;
    min-width: 160px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    border-radius: 24px;
    padding: 20px;
    transition: transform 0.2s ease-in-out;

    @include below($md) {
      flex-direction: row;
      padding: 0 3vw;
      gap: 5vw;
      place-content: center;
    }

    p {
      margin: 0;

      @include above($md) {
        font-size: 1.2rem;
        font-weight: bold;
      }
    }

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
      box-shadow: 6px 6px 18px #221b44,
        -6px -6px 18px #433588;
    }

    &:active {
      transform: scale(1);
    }
  }

  .selected-day {
    background-color: #433878;

    .progress-spinner {
      position: absolute;
      margin: 0;
      padding: 0;
      top: 60%;
      transform: translateY(-50%);
      text-align: center;

      @include below($md) {
        top: 50%;
        right: 20%;
        transform: translate(50%, -50%);
      }
    }
  }
}
