@import 'shared';

.days-wrapper {
  color: white;
  display: flex;
  justify-content: center;
  gap: 2vw;
  margin: 20px 0;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 20px;
  user-select: none;

  @include below($md) {
    min-height: 100px;
    justify-content: flex-start;
  }

  @include above($md) {
    min-height: 160px;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  .day {
    position: relative;
    display: flex;
    min-width: 128px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    border-radius: 24px;
    padding: 12px;
    transition: transform 0.4s ease;

    @include below($md) {
      flex-direction: row;
      padding: 0 16px;
      place-content: center;
      border-radius: 32px;
    }

    &:hover {
      cursor: pointer;
      transform: scale(1.1);

      @include above($md) {
        box-shadow: 6px 6px 18px #221b44,
        -6px -6px 18px #433588;
      }
    }

    &:active {
      transform: scale(1);
    }

    p.day-word {
      margin: 0;

      @include below($md) {
        width: 56px;
      }
    }

    p.day-number {
      margin: 0;
    }
  }

  .progress-spinner {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 60%;
    transform: translateY(-50%);
    text-align: center;

    @include below($md) {
      top: 50%;
      right: 20%;
      transform: translate(50%, -50%);
    }
  }

  .selected-day {
    background-color: #433878;

    p.day-word {
      @include above($md) {
        font-size: 1.2rem;
        font-weight: bold;
      }
    }
  }

  .unselected-day {
    @include below($md) {
      border: 2px solid #433878;
    }
  }
}
