<div class="days-wrapper">
	@for (day of daysOfTheWeek; let i = $index; track i) {
		<div class="day"
		     [ngClass]="selectedDay === day ? 'selected-day' : 'unselected-day'"
		     (click)="onClick(day, getDaysOfTheWeekDigits()[i])"
         #dayElement>
			
			<p class="day-word">{{ day }}</p>
			<mat-spinner mode="determinate" [strokeWidth]="spinnerStrokeWidth"
			             [diameter]="spinnerDiameter" [value]="progressPercentage"
			             class="progress-spinner">
			</mat-spinner>
			<p class="day-number">{{ getDaysOfTheWeekDigits()[i] }}</p>
		</div>
	}
</div>