@import "shared";

.container {
  display: flex;
  flex-direction: column;
  place-items: center;
  color: $white;
  margin: 5vh 0;
  text-align: center;
  user-select: none;

  .progress {
    margin: 0 auto;
    width: clamp(380px, 20vw, 500px);
    position: relative;
    height: 60px;
    padding: 4px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
    overflow: hidden;

    .progress-bar {
      height: 100%;
      border-radius: 24px 0 0 24px;
      transition: 0.4s linear;
      background-color: $light-red;

      &.color-step-1 {
        background-color: $dark-red;
      }

      &.color-step-2 {
        background-color: $red;
      }

      &.color-step-3 {
        background-color: $light-green;
      }

      &.color-step-4 {
        background-color: $green;
      }

      &.color-step-5 {
        background-color: $dark-green;

        &>.task-progress {
          color: $white;
          mix-blend-mode: normal;
        }
      }

      &.color-full {
        background-color: $darker-green;
        border-radius: 24px;

        &>.task-progress {
          color: $white;
          mix-blend-mode: normal;
        }
      }
    }

    .task-progress {
      position: absolute;
      font-weight: bold;
      top: 50%;
      left: 0;
      width: 100%;
      margin-top: -10px;
      color: $white;
      text-shadow: 0 1px black;
      mix-blend-mode: difference;
      transition: all 0.4s linear;
    }

    .control-btn {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: transparent;
      color: $white;
      border: none;
      cursor: pointer;
      z-index: 2;
      transition: all 0.2s ease;

      &.decrement:disabled {
        pointer-events: none;
        opacity: 0.1;
        color: $secondary-color;
        background-color: $gray;
      }

      &.increment:disabled {
        pointer-events: none;
        opacity: 0.8;
        color: $accent-green;
        background-color: transparent;
        border: 5px solid $white;
        border-radius: 50px;
      }

      &.increment {
        right: 5%;

        &:hover {
          background-color: $dark-green;
        }
      }

      &.decrement {
        left: 5%;

        &:hover {
          background-color: $orange;
        }
      }
    }
  }

  .erase-btn {
    position: relative;
    background-color: $red;
    color: $white;
    font-weight: bold;
    margin-top: 2vh;
    padding: 16px 20px;
    transition: all 0.3s ease;
    overflow: hidden;

    &:hover {
      background-color: $accent-red;
      transform: scale(1.2);
      padding-bottom: 48px;
    }

    .alert-icon {
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%) translateY(200%);
      font-size: 1.5em;
      opacity: 0;
      transition: all 0.3s ease;
    }

    &:hover .alert-icon {
      transform: translateX(-50%) translateY(100%);
      opacity: 1;
    }
  }
}