.container {
  display: flex;
  flex-direction: column;
  place-items: center;
  color: #FFF;
  margin: 60px auto;
  text-align: center;

  .progress {
    margin: 0 auto;
    width: clamp(380px, 20vw, 500px);
    position: relative;
    height: 60px;
    padding: 4px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
    overflow: hidden;

    .progress-bar {
      height: 100%;
      border-radius: 24px 0 0 24px;
      transition: 0.4s linear;
      background-color: #FFB3B3;

      &.color-step-1 {
        background-color: #FF7F7F;
      }

      &.color-step-2 {
        background-color: #FF9999;
      }

      &.color-step-3 {
        background-color: #B3E2A7;
      }

      &.color-step-4 {
        background-color: #9DDE8B;
      }

      &.color-step-5 {
        background-color: #40A578;

        &>.task-progress {
          color: #FFF;
          mix-blend-mode: normal;
        }
      }

      &.color-full {
        background-color: #006769;
        border-radius: 24px;

        &>.task-progress {
          color: #FFF;
          mix-blend-mode: normal;
        }
      }
    }

    .task-progress {
      position: absolute;
      font-weight: bold;
      top: 50%;
      left: 0;
      width: 100%;
      margin-top: -10px;
      color: white;
      text-shadow: 0 1px black;
      mix-blend-mode: difference;
      transition: all 0.4s linear;
    }

    .control-btn {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: transparent;
      color: #FFF;
      border: none;
      cursor: pointer;
      z-index: 9999;
      transition: all 0.2s ease;

      &.decrement:disabled {
        pointer-events: none;
        opacity: 0.1;
        color: #3C343B;
        background-color: #ccc;
      }

      &.increment:disabled {
        pointer-events: none;
        opacity: 0.8;
        color: #D2FF72;
        background-color: transparent;
        border: 5px solid #FFF;
        border-radius: 50px;
      }

      &.increment {
        right: 5%;

        &:hover {
          background-color: #40A578;
        }
      }

      &.decrement {
        left: 5%;

        &:hover {
          background-color: #FFAD60;
        }
      }
    }
  }

  .details {
    width: max-content;
    max-width: 600px;
    margin-top: 20px;
    font-size: 1.5rem;

    .header-status {
      border-right: 1px solid #FFF;
      justify-content: center;
    }

    .task-header {
      justify-content: center;
    }

    .task-details-row {
      display: flex;
      justify-content: space-between;
      padding: 0 12px;

      p {
        max-width: 260px;
        text-align: justify;
      }
    }
  }
}