<div class="container">
	<div class="progress">
		<button mat-mini-fab class="control-btn decrement" (click)="decrement()" [disabled]="progressPercentage === 0">
			<mat-icon>remove</mat-icon>
		</button>
		<div class="progress-bar" [style.width.%]="progressPercentage"  [ngClass]="progressColor">
			<p class="task-progress">{{ task.title }}</p>
		</div>
		<button mat-mini-fab class="control-btn increment" (click)="increment()" [disabled]="progressPercentage === 100">
			<mat-icon>{{progressPercentage === 100 ? 'done':'add'}}</mat-icon>
		</button>
	</div>
	
	<app-task-details [task]="task" (taskProgressChange)="handleTaskProgressChange($event)"></app-task-details>
</div>