@import "shared";

.task-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 32px;
  background: linear-gradient(180deg, $background-color, $background-color, $background-color, $secondary-color);
  box-shadow: 20px 20px 41px $background-color,
    -20px -20px 41px $background-color;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;

  .inputs-wrapper {
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 24px;
    padding-top: 12px;

    .form-input {
      width: 90%;

      p {
        color: #fff;
        font-size: 18px;
        margin: 0 0 12px 12px;
      }

      .textarea {
        resize: none;
        height: 15vh;
      }
    }
  }

  button.close-button {
    display: flex;
    place-content: center;
    align-items: center;
    background-color: $darker-red;
    height: 40px;
    border-radius: 32px 32px 0 0;
    margin-bottom: 12px;
    border: none;
    cursor: pointer;

    &:hover {
      background: $accent-red;

      .close-icon {
        color: $darker-red;
      }
    }

    &:active {
      background: $darker-red;
      box-shadow: inset 11px 11px 22px $darker-red,
        inset -11px -11px 22px $dark-red;

      .close-icon {
        color: $white;
      }
    }

    .close-icon {
      color: $white;
      font-size: 20px;
      font-weight: bolder;
    }
  }

  button.submit-btn {
    margin-top: 20px;
  }
}
