<form [formGroup]="taskForm" class="task-form">
	<button class="close-button" (click)="closeForm()">
		<mat-icon class="close-icon">close</mat-icon>
	</button>
	<div class="inputs-wrapper">
		<app-input-text class="form-input" formControlName="title" title="Título"></app-input-text>
		<app-input-datetime class="form-input" title="Fecha límite" formControlName="deadline"></app-input-datetime>
		<app-input-textarea class="form-input" formControlName="description" title="Descripción"></app-input-textarea>
		
		<mat-form-field class="form-input">
			<mat-label>Estado</mat-label>
			<mat-select formControlName="state">
				@for (state of taskState; track $index) {
					<mat-option [value]="state">{{state}}</mat-option>
				}
			</mat-select>
		</mat-form-field>
		<div class="form-input">
			<p>Objetivo</p>
			<input type="number" id="goal-input" formControlName="goal">
		</div>
		<div class="form-input">
			<p>Prioridad</p>
			<mat-button-toggle-group formControlName="priority">
				@for (priority of [1, 2, 3, 4, 5]; track $index) {
					<mat-button-toggle [value]="priority">Nivel {{ priority }}</mat-button-toggle>
				}
			</mat-button-toggle-group>
		</div>
	</div>

	
	<button class="submit-btn" mat-raised-button [disabled]="taskForm.invalid" (click)="onSubmit()">Guardar</button>
</form>



