@import "../../../assets/styles/shared";

.general-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primary-color;
  border-radius: 50px;
  color: $white;
  cursor: pointer;
  padding: 8px 12px;
  margin: 8px 0;
  transition: all 0.4s ease-in-out;
  border: 2px solid $secondary-color;
  box-shadow: inset 2px 2px 5px $secondary-color, inset -2px -2px 5px $light-primary-color, 2px 2px 5px $secondary-color, -2px -2px 5px $light-primary-color;

  &:hover {
    outline: none;
    box-shadow: inset 2px 2px 5px $light-primary-color, inset -2px -2px 5px $light-primary-color, 2px 2px 5px $secondary-color, -2px -2px 5px $secondary-color;
  }

  .center-text {
    flex: 1;
    text-align: center;
  }

  ng-content {
    margin-right: auto;
  }
}