@import "shared";

.general-btn {
  display: flex;
  place-items: center;
  gap: 0.5em;
  font-size: 1.1rem;
  background: transparent;
  border: none;
  padding: 0.5em 1em;
  color: $light-primary-color;
  text-transform: uppercase;
  position: relative;
  transition: 0.4s ease;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: $primary-color;
    transition: 0.4s ease;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background-color: $primary-color;
    transition: 0.3s ease;
    z-index: -1;
  }

  &:hover, &:active {
    color: #1e1e2b;
    transition-delay: 0.4s;

    &::before {
      width: 100%;
    }

    &::after {
      height: 100%;
      transition-delay: 0.3s;
      color: $white;
    }
  }
}